<h2>Lista de postagens</h2>
<hr>
<a href="/admin/postagens/add">
    <button class="btn btn-success mb-4">Nova postagem</button>
</a>
{{#each postagens}}
    <div class="card mb-4">
        <div class="card-body">
            <h4>{{titulo}}</h4>
            <p>Descrição: {{descricao}}</p>
            <small>Data: {{date}}</small><br>
            <small>Categoria: {{categoria.nome}}</small>
        </div>
    </div>
{{else}}
    <h4 class="mt-3">Nenhuma postagem registrada!</h4>
{{/each}}